.about {
  &__header {
    margin-top: 1.5em;
  }
  &__title {
    font-family: 'Bold', sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: $text;
    background: $bgColor;

    &::before {
      content: '';
      height: 40px;
      width: 3px;
      background: $green;
      -webkit-transform: matrix(-1, 1, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 1, 0, 1, 0, 0);
      transform: matrix(-1, 1, 0, 1, 0, 0);
      position: absolute;
      left: 0px;
    }
  }
  &__services {
    display: none;
  }
  &__item {
    color: $text-gray;
    white-space: nowrap;
    margin-bottom: 1em;
  }
  &__item .about-button.button--active {
    background-color: white;
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }
  &__item .about-button {
    padding: 0.5em 1em 0.5em 1em;
    color: $text-gray;
    background: $bgColor;
    font-family: 'DemiBold', sans-serif;
    font-size: 16px;
    line-height: 24px;
  }
}

.information {
  display: flex;
  flex-wrap: wrap;
  &__description {
    margin-top: 1em;
    overflow: auto;
  }
  &__text {
    margin-top: 0;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $text;
  }
  &__text:nth-child(2) {
    display: none;
  }
  &__continue,
  &__hidden {
    margin-top: 0.5em;
    cursor: pointer;
  }
  &__continue,
  svg {
    margin-left: 0.5em;
  }
  &__continue,
  &__hidden,
  span {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $text;
    margin-left: 1em;
    font-family: 'DemiBold', sans-serif;
  }
  &__hidden {
    display: none;
    cursor: pointer;
  }
  .about__images img {
    margin-top: 1em;
    max-width: 300px;
    border-radius: 6px;
  }
}
.about__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto;
  ::after {
    content: '';
    background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.014) 100%);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
  }
  ::before {
    content: '';
    background: linear-gradient(90deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.014) 100%);
    width: 40px;
    height: 40px;
    position: absolute;
    left: -10px;
  }
}
@media (min-width: 768px) {
  .information {
    flex-wrap: nowrap;
    margin-top: 1em;
    min-height: 5em;
    &__description {
      margin-top: 0;
    }
    .about__images img {
      max-width: 400px;
      margin: 0 0 0 2em;
    }
  }
}
@media (min-width: 1366px) {
  .about {
    margin: 0em 2em 0em 0em;
    &__title {
      &::before {
        content: '';
        height: 40px;
        width: 3px;
        background: $green;
        -webkit-transform: matrix(-1, 1, 0, 1, 0, 0);
        -ms-transform: matrix(-1, 1, 0, 1, 0, 0);
        transform: matrix(-1, 1, 0, 1, 0, 0);
        position: absolute;
        left: -28px;
      }
    }
    &__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative;
      margin-top: 0;
    }
    &__services {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    &__services {
      .button-service {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 1em;
      }
    }
    &__services {
      .button-service span {
        font-family: 'DemiBold', sans-serif;
        font-size: 16px;
        line-height: 24px;
        padding-right: 0.5em;
        color: $text;
      }
    }
    &__images img {
      max-width: 500px;
    }
  }
}
