.brands {
  &__title {
    margin: 0;
    padding: 0;
  }
  &__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  &__slider button {
    cursor: pointer;
    border: $border;
    padding: 1em;
    border-radius: 6px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
  }
  &__slider button svg:last-child {
    margin-left: auto;
  }
  &__list {
    gap: 1rem;
    padding-left: 0;
    padding-bottom: 1em;

  }
  &__expand {
    cursor: pointer;
  }
  &__hidden.hidden {
    display: none;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .brands {
    &__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    &__slider {
      max-width: 200px;
    }
    &__slider:nth-child(n + 7) {
      display: none;
    }
    &__expand {
      display: block;
      cursor: pointer;
    }
    &__expand span {
      padding-left: 1em;
    }
    &__hidden span {
      margin-left: 1em;
    }
  }
}
