 .call {
    width: 100%;
    position: fixed;
    right: 0;
    background: white;
    -webkit-transform: translateX(5000px);
    -ms-transform: translateX(5000px);
    transform: translateX(5000px);
    height: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      16px 0px 52px rgba(14, 24, 80, 0.2);
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      16px 0px 52px rgba(14, 24, 80, 0.2);
      &__panel {
        padding: 1.5em 1.5em 2em 1.5em;
      }
    &__title {
      font-family: "Bold", sans-serif;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: -0.6px;
      color: $text;
      &::before {
        content: "";
        height: 40px;
        width: 3px;
        background: $green;
        -webkit-transform: matrix(-1, 1, 0, 1, 0, 0);
        -ms-transform: matrix(-1, 1, 0, 1, 0, 0);
        transform: matrix(-1, 1, 0, 1, 0, 0);
        position: absolute;
        left: 0px;
      }
    }
    &__input {
      margin-top: 1em;
      padding: 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: white;
      border: $border;
      border-radius: 8px;
    }
    & button {
      border: $border;
      padding: 0.5em 1em;
      background-color: #ff3e79;
      color: white;
      border-radius: 16px;
      margin-left: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    & p a {
      text-decoration: none;
      color: #ff3e79;
    }
  }

@media (min-width: 768px) {
    .call {
      width: 100%;
      max-width: 320px;
      position: fixed;
      right: 0;

      background: white;
      -webkit-transform: translateX(500px);
      -ms-transform: translateX(500px);
      transform: translateX(500px);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      &__close {
        position: absolute;
        left: -65px;
      }
      & button {
        border: $border;
        padding: 0.5em 1em;
        background-color: #ff3e79;
        color: white;
        border-radius: 16px;
        margin-left: auto;
      }
    }
  }
