$bgColor: #f8f8f8;
$text: #1b1c21;
$text-gray: #7e7e82;
$border: 1px solid #eaeaea;
$green: #41f6d7;

@import 'brands.scss';
@import 'about.scss';
@import 'call.scss';
@import 'feedback.scss';
@import 'menu.scss';
@import 'tech.scss';
@import 'price-services.scss';
@import 'fonts.scss';

html,
body {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-family: "TT Lakes", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background: $bgColor;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.reset-list {
  list-style-type: none;
}
.button {
  border: none;
  outline: none;
  background-color: white;
  padding: 0;
}
.color-group {
  background: $bgColor;
}
.section-header {
  text-transform: uppercase;
  color: $text-gray;
  padding: 1em 1em 1em 0;
  margin-top: 1em;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from($bgColor),
    color-stop(98.61%, white)
  );
  background: -o-linear-gradient(left, $bgColor 0%, white 98.61%);
  background: linear-gradient(90deg, $bgColor 0%, white 98.61%);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.text-header {
  font-size: 14px;
  line-height: 16px;
  color: $text-gray;
  opacity: 0.72;
}
.overlay {
  height: 200vh;
  width: 100%;
  z-index: -1;
  background: white;
  opacity: 0.96;
  position: fixed;
}
.style-button {
  font-family: "TT Lakes", sans-serif;
  font-weight: 600;
  display: inline;
  margin-left: 1.5em;
  border: none;
  background: $bgColor;
  color: $text;
}
svg {
  cursor: pointer;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Навигационное меню */
.content {
  padding-left: 1em;
}
.header {
  background-color: white;
  padding: 0;
  position: relative;
  .nav {
    padding: 1.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    & ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 1em;
    }
    & button,
    label {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    &__repair::before {
      content: "";
      position: absolute;
      top: 5px;
      bottom: 10px;
      border-right: 2px #eaeaea solid;
      border-radius: 1px;
    }
    &__support {
      display: none;
    }
    &__logo {
      margin-left: 1em;
      margin-right: 0.5em;
    }
    &__repair svg {
      margin-left: 1.5em;
      margin-right: .5em;
    }
  }
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: $text-gray;
  margin: 3em 1em 0 1em;
  a {
    text-decoration: none;
    color: $text-gray;
  }
}
.buttons_group {
  display: none;
}

.active {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  z-index: 60;
  display: block;
  position: fixed;
}
.overlay.active {
  z-index: 59;
  display: block;
  position: fixed;
}

@media (min-width: 768px) {
  .buttons_group {
    display: block;
  }
  /* Навигационное меню */
  .header {
    display: block;
    .nav {
      padding: 1rem 1rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      &__menu {
        padding-right: 1em;
      }
      &__menu::before {
        content: "";
        position: absolute;
        top: 5px;
        bottom: 5px;
        right: 0;
        border-left: 2px #eaeaea solid;
        border-radius: 1px;
      }
      &__support {
        margin-left: auto;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 0.5em;
        margin-right: .5em;
      }
      &__profile {
        padding: 0;
      }
      &__logo::after {
        display: none;
      }
      &__support--group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    }
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 3em 1em 0 0;
    color: $text-gray;
    a {
      text-decoration: none;
      color: $text-gray;
    }
    span:last-child {
      text-align: end;

    }
  }
}
@media (min-width: 1366px) {

  .content {
    margin-left: 260px;
  }
  /* Навигационное меню */
  .header {
    display: none;
  }
  .service__checkstatus {
    margin-left: 1em;
  }
}
